$navbar-height: 60px;

$height-available: calc(100vh - #{$navbar-height - 1px});

$primary-color: #455a64;

$secondary-color: #0288d1;

$card-radius: 8px;

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.ttf');
  font-weight: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.ttf');
    font-weight: bold;
  }

@mixin toCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  font-family: 'Nunito';
  color: $primary-color;
}

html {
  scroll-behavior: smooth;
}

[id^='container-'] {
  min-height: $height-available;
  scroll-margin-top: $navbar-height - 1px;
}

#container-home {
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
      
    ),
    url('../images/hero.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: auto, top;
  height: 100vh;
  div {
    @include toCenter();
    font-family: 'Nunito';
    font-size: xx-large;
    color: white;
  }
  .text-center{
    color: white!important;
    strong{
        color: white!important;
    }
  }
}
.progress-bar {
  background-color: #7986cb;
}
.navbar-dark {
  .nav-item {
    .nav-link {
      color: white;
    }
  }
}
.navbar {
  transition: 0.2s;
  height: $navbar-height;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;

  .nav-item {
    height: 100%;
    .nav-link {
      text-align: center;
    }
    position: relative;
    text-align: center;
    & .active {
      color: $secondary-color !important;
      transition: width 1s;
      &::after {
        background-color: $secondary-color;
        border-radius: 7px;
        display: block;
        height: 4px;
        animation: navs 0.3s cubic-bezier(0.6, -0.26, 0.48, 1.31);
        bottom: -24%;
        left: 0;
        right: 0;
        position: absolute;
        content: '';
      }
    }
  }
}
@for $i from 1 to 5 {
  .level-#{$i} {
    margin-left: 30px * $i;
    display: block;
  }
}
ul {
  li {
    list-style: none;
  }
}
@keyframes navs {
  0% {
    margin-right: 50%;
    margin-left: 50%;
  }
  100% {
    margin-right: 0%;
    margin-left: 0%;
  }
}

.card {
  border-radius: $card-radius !important;

  .container-card-img {
    position: relative;
    .card-img {
      border-radius: $card-radius !important;
    }
    .container-card-img-button {
      transition: 0.3s;
      display: none;
    }
  }
  &:hover {
    .container-card-img {
      position: relative;
      .card-img {
        border-radius: $card-radius !important;
      }
      .container-card-img-button {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-left-radius: $card-radius;
        border-bottom-right-radius: $card-radius;
        button {
          width: 100%;
          padding: 0px !important;
          margin: 0px;
          color: white;
          background-color: transparent;
          border: none;
        }
      }
    }
  }
}
#nav-portfolio{
    ul.nav{
        .btn-portfolio{
            font-size: larger;
            color: $primary-color;
            cursor: hand;
        }
        .active{
            font-weight: bold;
        }
    }
}
